trigger:
- main

variables:
  artifactName: 'drop'
  azureServiceConnection: 'Azureconnection'
  webAppNameDev: 'python-app-testing'
  webAppNameProd: 'python-app-testing'

pool:
  name: Default   # self-hosted agent


stages:

# =====================================
# STAGE 1 - BUILD
# =====================================
- stage: Build
  displayName: Build Stage
  jobs:
  - job: BuildJob
    steps:

    - script: |
        python3 -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        pip install -r requirements.txt
      displayName: Install Dependencies

    - script: |
        zip -r app.zip .
      displayName: Package Application

    - publish: app.zip
      artifact: $(artifactName)
      displayName: Publish Artifact


# =====================================
# STAGE 2 - TEST AUTOMATION
# =====================================
- stage: Test
  displayName: Run Automated Tests
  dependsOn: Build
  condition: succeeded()

  jobs:
  - job: TestJob
    steps:

    - script: |
        python3 -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        pip install -r requirements.txt
        pytest
      displayName: Run Pytest


# =====================================
# STAGE 3 - DEPLOY TO DEV
# =====================================
- stage: Deploy_Dev
  displayName: Deploy to Dev
  dependsOn: Test
  condition: succeeded()

  jobs:
  - deployment: DeployDev
    environment: Dev
    strategy:
      runOnce:
        deploy:
          steps:

          - download: current
            artifact: $(artifactName)

          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureServiceConnection)
              appName: $(webAppNameDev)
              package: $(Pipeline.Workspace)/$(artifactName)/app.zip


# =====================================
# STAGE 4 - DEPLOY TO PROD
# =====================================
- stage: Deploy_Prod
  displayName: Deploy to Production
  dependsOn: Deploy_Dev
  condition: succeeded()

  jobs:
  - deployment: DeployProd
    environment: Production
    strategy:
      runOnce:
        deploy:
          steps:

          - download: current
            artifact: $(artifactName)

          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureServiceConnection)
              appName: $(webAppNameProd)
              package: $(Pipeline.Workspace)/$(artifactName)/app.zip
